body {
    background: #3498db;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


#container {
    width: 60%;
    background: #035992;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;

}

header {
    text-align: center;
    border-bottom: white dashed 1px;
}

h1 {
    margin: 0;
    padding: 0;
}

header p {
    padding: 0;
    margin-top:5px;
}

section {
    min-height: 400px;
}

input[type='submit'] {
    background: #0679e6;
    color: white;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}

#results h3 {
    background: #035992;
    padding: 10px;
    margin: 10px 0;
}

#results span {
    color: #5fee1c;
    font-weight: bold;
}
